#matchesdiv {
	width: 50%;
	margin: auto;
}

var{
	font-style: normal;
}

.headers {
	font-family: Verdana;
	color: #505050;
	margin-bottom: 2.5em;
}

.headers *{
	color: black;
}

.matches {
	padding-right: 1em;
}

.percentages{
	float: right;
	padding: .2em;
	border: 1px solid black;
	border-radius: .5em;
}

.items {
	font-size: .9em;
}


@media (max-width: 800px) {     

#matchesdiv {
	width: 90%;
}

.headers{
	margin-bottom: 3em;
}
.headers *{
		display: block;
		padding: .3em;
}

.percentages{
	float: none;
	width: 3.2em;
}

}