extends layout

block content
  form#form1(name="form1",method="post",action="/", autocomplete="off")
    h4 First Name: 
      input#fname(type='text', name='fname')
    h4 Last Name: 
      input#lname(type='text', name='lname')
    h4 E-mail: 
      input#email(type='text', name='email')
    h4 Location: 
      input#location(type='text', name='location')
    p Sports: 
      input#sports(type='checkbox', name='sports')
    p Music: 
      input#music(type='checkbox', name='music')
    p Partying: 
      input#partying(type='checkbox', name='partying')
    p Cooking: 
      input#cooking(type='checkbox', name='cooking')
    p Gaming:
      input#gaming(type='checkbox', name='gaming')
    br
    button#submit-form(type='submit') Submit
