doctype html
html(lang='en')
  head
    title  Find Friends 
    meta(charset='utf-8')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/login.css', rel='stylesheet')
  body
    block content